-
    var url = require('./../../variables-for-templates').url

#StickHeader.col-md-12.bg-light.position-fixed.px-2.stick-header.box-shadow
    .col-xl-12.col-lg-12
        nav.navbar.navbar-expand-lg.navbar-light.mx-xl-5.mx-lg-3.mx-md-0
            a.navbar-brand.pt-0.pb-md-0.d-flex.align-items-center.svg-font(href=url)
                svg#svg2.svg-logo.explicit.old-browsers.inverted(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', viewbox='0 0 2600 432.50005', version='1.1', inkscape:version='0.91 r13725', sodipodi:docname='drawing-2.svg')
                    style(type='text/css').
                        .svg-logo {
                            cursor: pointer
                        }

                        .svg-logo.explicit.old-browsers.inverted > g > .default {
                            fill: #343a40;
                            transition: fill 0.2s ease-in-out;
                        }

                        .svg-logo.explicit.old-browsers.inverted:hover > g > .default {
                            fill: #1d2124
                        }
                    defs#defs4
                    sodipodi:namedview#base(pagecolor='#ffffff', bordercolor='#666666', borderopacity='1.0', inkscape:pageopacity='0.0', inkscape:pageshadow='2', inkscape:zoom='0.35', inkscape:cx='934.64285', inkscape:cy='-27.857065', inkscape:document-units='px', inkscape:current-layer='layer1', showgrid='false', fit-margin-top='0', fit-margin-left='0', fit-margin-right='0', fit-margin-bottom='0', inkscape:window-width='1280', inkscape:window-height='682', inkscape:window-x='0', inkscape:window-y='1', inkscape:window-maximized='1')
                    metadata#metadata7
                        rdf:rdf
                            cc:work(rdf:about='')
                                dc:format image/svg+xml
                                dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                                    dc:title
                    g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer', transform='translate(559.64285,-72.005093)')
                        path#path3420.default(d='m -559.64285,288.25509 0,-216.249997 238.75,0 238.749997,0 0,216.249997 0,216.25005 -238.749997,0 -238.75,0 0,-216.25005 z m 464.999997,0 0,-203.749997 -226.249997,0 -226.25,0 0,203.749997 0,203.75005 226.25,0 226.249997,0 0,-203.75005 z m -412.499997,46.25 0,-116.25 23.125,0 23.125,0 0,116.25 0,116.25005 -23.125,0 -23.125,0 0,-116.25005 z m 93.75,-46.25 0,-162.5 23.125,0 23.125,0 0,46.25 0,46.25 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-162.50005 z m -93.75,-140 0,-23.75 23.125,0 23.125,0 0,23.75 0,23.75 -23.125,0 -23.125,0 0,-23.75 z m 641.25,183.75 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 325,0 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.125 0,23.125 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.75 0,23.75 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 326.25,0 0,-116.25 115.625,0 115.62505,0 0,23.125 0,23.125 -92.50005,0 -92.5,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-116.25005 z m 232.50005,23.125 0,-93.125 23.125,0 23.125,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-93.12505 z m 92.5,-69.375 0,-162.5 23.125,0 23.125,0 0,46.25 0,46.25 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-162.50005 z m 325,46.25 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.125 0,23.125 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.75 0,23.75 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 326.25,0 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-116.25005 z m -1813.750053,0 0,-22.5 69.375,0 69.375,0 0,22.5 0,22.5 -69.375,0 -69.375,0 0,-22.5 z', inkscape:connector-curvature='0')
            .md-show.d-inline-flex.align-items-center
                h6.mb-0.small.text-center.mr-4(href='#')
                    a.text-dark(href='tel:+38 (044) 237-37-07') +38 (044) 237-37-07
                button.navbar-toggler.header-button-hamburger(type='button', data-toggle='collapse', data-target='#StickerNavBar', aria-controls='StickerNavBar', aria-expanded='false', aria-label='Toggle navigation')
                    span.bg-dark
                    span.bg-dark
                    span.bg-dark
                    span.bg-dark
            #StickerNavBar.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.small
                ul.navbar-nav.ml-auto.nav-font-small
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-dark.text-center.scrollto(href='#Program') ПРОГРАММА
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-dark.text-center.scrollto(href='#Teachers') КОМАНДА
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-dark.text-center(href=url + '/schedule') РАСПИСАНИЕ
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-dark.text-center(href=url + '/feedback') ОТЗЫВЫ
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-dark.text-center.scrollto(href='#Prices') ЦЕНЫ
                    li.nav-item.dropdown.d-flex.flex-column.justify-content-center
                        a#navbarDropdown.nav-link.dropdown-toggle.text-dark.text-center(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | КУРСЫ
                        .dropdown-menu.rounded-0.bg-light(aria-labelledby='navbarDropdown')
                            a.dropdown-item.py-2.text-dark(href=url + '/osnovi') Основы Java
                            a.dropdown-item.py-2.text-dark(href='http://it-centre.net/java-oop') Java ООП
                            a.dropdown-item.py-2.text-dark(href='http://it-centre.net/java-developer') Java Developer
                    li.lg-show.nav-item.text-dark
                        span.nav-link.active.text-center.d-flex.flex-column.justify-content-around.py-2
                            a.text-dark.py-1(href='tel:+38 (044) 237-37-07') +38 (044) 237-37-07
                            a.text-dark.py-1(href='tel:+38 (063) 237-37-07') +38 (063) 237-37-07
.col-md-12.border-bottom.px-2
    .col-xl-12.col-lg-12
        // TODO: fix nav-links colors
        nav.navbar.navbar-expand-lg.navbar-dark.rounded.bg-transparent.mx-xl-5.mx-lg-3.mx-md-0
            a.navbar-brand.pt-0.pb-md-0.d-flex.align-items-center.svg-font(href=url)
                svg#svg2.svg-logo.explicit.old-browsers.default(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', viewbox='0 0 2600 432.50005', version='1.1', inkscape:version='0.91 r13725', sodipodi:docname='drawing-2.svg')
                    style(type='text/css').
                        .svg-logo {
                            cursor: pointer
                        }

                        .svg-logo.explicit.old-browsers.default > g > .default {
                            fill: #ffffff;
                            transition: fill 0.2s ease-in-out;
                        }

                        .svg-logo.explicit.old-browsers.default:hover > g > .default {
                            fill: #dae0e5
                        }
                    defs#defs4/
                    sodipodi:namedview#base(pagecolor='#ffffff', bordercolor='#666666', borderopacity='1.0', inkscape:pageopacity='0.0', inkscape:pageshadow='2', inkscape:zoom='0.35', inkscape:cx='934.64285', inkscape:cy='-27.857065', inkscape:document-units='px', inkscape:current-layer='layer1', showgrid='false', fit-margin-top='0', fit-margin-left='0', fit-margin-right='0', fit-margin-bottom='0', inkscape:window-width='1280', inkscape:window-height='682', inkscape:window-x='0', inkscape:window-y='1', inkscape:window-maximized='1')
                    metadata#metadata7
                        rdf:rdf
                            cc:work(rdf:about='')
                                dc:format image/svg+xml
                                dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
                                    dc:title
                    g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer', transform='translate(559.64285,-72.005093)')
                        path#path3420.default(d='m -559.64285,288.25509 0,-216.249997 238.75,0 238.749997,0 0,216.249997 0,216.25005 -238.749997,0 -238.75,0 0,-216.25005 z m 464.999997,0 0,-203.749997 -226.249997,0 -226.25,0 0,203.749997 0,203.75005 226.25,0 226.249997,0 0,-203.75005 z m -412.499997,46.25 0,-116.25 23.125,0 23.125,0 0,116.25 0,116.25005 -23.125,0 -23.125,0 0,-116.25005 z m 93.75,-46.25 0,-162.5 23.125,0 23.125,0 0,46.25 0,46.25 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-162.50005 z m -93.75,-140 0,-23.75 23.125,0 23.125,0 0,23.75 0,23.75 -23.125,0 -23.125,0 0,-23.75 z m 641.25,183.75 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 325,0 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.125 0,23.125 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.75 0,23.75 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 326.25,0 0,-116.25 115.625,0 115.62505,0 0,23.125 0,23.125 -92.50005,0 -92.5,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-116.25005 z m 232.50005,23.125 0,-93.125 23.125,0 23.125,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-93.12505 z m 92.5,-69.375 0,-162.5 23.125,0 23.125,0 0,46.25 0,46.25 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,70 0,70 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-162.50005 z m 325,46.25 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.125 0,23.125 116.25,0 116.25,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,23.75 0,23.75 116.25,0 116.25,0 0,23.125 0,23.12505 -139.375,0 -139.375,0 0,-116.25005 z m 326.25,0 0,-116.25 139.375,0 139.375,0 0,23.125 0,23.125 -116.25,0 -116.25,0 0,93.125 0,93.12505 -23.125,0 -23.125,0 0,-116.25005 z m -1813.750053,0 0,-22.5 69.375,0 69.375,0 0,22.5 0,22.5 -69.375,0 -69.375,0 0,-22.5 z', inkscape:connector-curvature='0')
            .md-show.d-inline-flex.align-items-center
                h6.mb-0.small.text-light.text-center.font-weight.mr-4(href='#')
                    a.text-light(href='tel:+38 (044) 237-37-07') +38 (044) 237-37-07
                button.navbar-toggler.header-button-hamburger(type='button', data-toggle='collapse', data-target='#navbarsExample09', aria-controls='StickerNavBar', aria-expanded='false', aria-label='Toggle navigation')
                    span.bg-light
                    span.bg-light
                    span.bg-light
                    span.bg-light
            #navbarsExample09.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.small
                ul.navbar-nav.ml-auto.nav-font-small
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-light.text-center.font-weight.scrollto(href='#Program') ПРОГРАММА
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-light.text-center.font-weight.scrollto(href='#Teachers') КОМАНДА
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-light.text-center.font-weight(href=url + '/schedule') РАСПИСАНИЕ
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-light.text-center.font-weight(href=url + '/feedback') ОТЗЫВЫ
                    li.nav-item.d-flex.flex-column.justify-content-center
                        a.nav-link.text-light.text-center.font-weight.scrollto(href='#Prices') ЦЕНЫ
                    li.nav-item.dropdown.d-flex.flex-column.justify-content-center
                        a#coursesMainDropdown.nav-link.dropdown-toggle.text-light.text-center(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | КУРСЫ
                        .dropdown-menu.rounded-0.darken-background.border.border-light(aria-labelledby='coursesMainDropdown')
                            a.dropdown-item.py-2.text-light(href=url + '/osnovi') Основы Java
                            a.dropdown-item.py-2.text-light(href='http://it-centre.net/java-oop') Java ООП
                            a.dropdown-item.py-2.text-light(href='http://it-centre.net/java-developer') Java Developer
                    li.lg-show.nav-item
                        span.nav-link.active.text-center.d-flex.flex-column.justify-content-around.py-2
                            a.text-light.py-1(href='tel:+38 (044) 237-37-07') +38 (044) 237-37-07
                            a.text-light.py-1(href='tel:+38 (063) 237-37-07') +38 (063) 237-37-07