-
    var url = require('./../../variables-for-templates').url

// 15th section
.container-fluid.mt-5.px-0
    .p-2.m-md-3.mt-5.text-center
        .col-md-12.mx-auto.mb-5
            h1.font-weight-bold.text-uppercase.text-center Часто задаваемые вопросы
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left Какая длительность занятия на ваших курсах?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Занятие длится 3 час с небольшим перерывом 10-15 минут.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Какое максимальное количество человек в группе?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Группы небольшие, максимум 15 человек. Это сделано для того, чтобы каждому студенту было уделено достаточное внимание.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left Что нужно с собой на занятии?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | С собой нужен личный ноутбук, тетрадь и ручка.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Сможет ли человек, несвязанный с программированием (например, гуманитарий), учиться на ваших курсах?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Да, конечно. За 9 лет у нас проходили обучения бухгалтера, юристы, экономисты, доктора т.д и успешно устраивались на работу программистами. Мы убеждены, что любой может стать Любым!
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Есть ли пробное занятие?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Да, такая возможность есть. На любом из курсов Основы Java, Java OOP, Java Prof Вы можете попробовать первое занятие абсолютно бесплатно.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Как записаться на пробное занятие?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Для того, чтобы попробовать первое занятие, Вам нужно отправить заявку на сайте или набрать нас. Для записи нужно внести резерв места в размере 250 грн. Эта сумма возвращается, если Вам что-то не понравится.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Как записаться на курсы?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Для того, чтобы записаться на курс Основы Java, Вам нужно отправить заявку через сайт или набрать по телефону. Наш менеджер свяжется с Вами, расскажет подробнее о программе обучения, запишет Вас в группу.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Есть ли возрастные ограничения для студентов?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Начать обучения на наших курсах Основы Java, Java OOP, Prof Java можно с 14 лет, после предварительного собеседования.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Как проходят занятия?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Занятия проходят 2 раза в неделю по 3 часа занятие. На занятии мы выделяем 60% времени выполнению практических заданий и 40% отводим на теоретическую часть.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Задаете ли вы домашнее задание и как много?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | После второго дня обучения на неделе Вам задается домашнее задание до следующего занятия. В среднем на выполнения этого задания Вам понадобится в среднем 2-3 часа.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Нужно ли выполнять домашнее задание?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Да, необходимо выполнять домашнее задание минимум на 50%. В противном случае, мы рекомендуем продолжить свое обучение в следующей группе.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Есть ли помощь  (поддержка) между занятиями?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Между занятиями Вы взаимодействуете с преподавателем и одногруппниками через группу в Skype.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Есть ли возможность присоединиться к группе, которая уже начала обучение?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Это возможно сделать после предварительного тестирования.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | После окончания курсов помогаете ли вы с трудоустройством?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | За 9 лет мы обучили огромное количество программистов, которые в дальнейшем трудоустроились в ведущие IT компании Украины и зарекомендовали нашу школу, как лидера в обучении JAVA-ПРОГРАММИСТОВ. К нам регулярно обращаются наши партнеры с просьбой порекомендовать перспективных ребят, которые знают чего хотят и которых не нужно заставлять программировать и развиваться в этом направлении.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Какие варианты оплаты существуют?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Оплата осуществляется наличным и безналичным расчетом, также для курсов “Java OOP” и “Java Prof” есть возможность разбить на 2 платежа.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Могу ли я записаться сразу на курсы  “Java OOP” или “Java Prof”?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text
                h6.text-left
                    | Оставьте заявку на обучение и при разговоре с менеджером укажите интересующий Вас курс.
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center.cursor-pointer
            .col-sm-12.border-top.border-dark.mx-auto.row.px-0
                .col-sm-10.text-left.pb-sm-3.pt-sm-4
                    h5.text-left
                        | Почему ваши курсы часто рекомендуют?
                .col-sm-2.text-left.pb-lg-0.pt-lg-0.d-flex.flex-column.align-content-stretch.justify-content-center
                    a.text-right
                        img.answer-plus(src=url + '/svg/plus.svg', alt='Image not found')
            .col-sm-12.mx-auto.answer-text.border-bottom.border-dark
                h6.text-left
                    | За 9 лет обучения Java программистов мы выпустили огромное количество выпускников, которые успешно работают в IT компаниях Украины. Мы постоянно работаем над программой обучения и адаптируем ее под нынешние требования компаний.