-
    var url = require('./../../variables-for-templates').url

// 12th section
.container-fluid.mt-5
    .p-2.my-md-3.mx-lg-3.mx-md-2.mt-5.text-center
        .col-md-12.mx-auto.mb-5
            h1.font-weight-bold.text-uppercase.text-center Наши студенты работают в:
        .col-xl-10.offset-xl-1.col-lg-12.offset-lg-0.row.text-center.px-0
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/ciklum.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/globallogic.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/sumsung.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/privat.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/infopulse.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/softserve.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/cybervision.jpg', alt='')
            .col-lg-3.col-md-hor-3.col-md-6.mb-5.overflow-hidden.d-flex.flex-row.align-items-center.justify-content-center
                img.company-image(src=url + '/images/students-companies/luxoft.jpg', alt='')
        .col-md-12.mb-5.upped-text
            h5.font-weight-bold.text-uppercase.text-center И в других компаниях украины