-
    var url = require('./../../variables-for-templates').url

// 16th section
.container-fluid.mt-5
    .col-lg-10.col-md-12.mx-auto
        h1.display-5.font-weight-bold.text-uppercase.text-center.my-0.py-5 Почему студенты выбирают IT-center
        .row.text-center
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-1.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/teacher-lecture-in-front-an-auditory.png')
                h6.font-weight-bold.pt-3.h6-increase Работаем с 2009 года очень большой опыт в обучении
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-0.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/teacher-pointing-blackboard.png')
                h6.font-weight-bold.pt-3.h6-increase Преподаватели действующие программисты с опытом от 2-х лет
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-1.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/human-resources.png')
                h6.font-weight-bold.pt-3.h6-increase 40% выпускников сразу после обучения устраиваются на работу
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-0.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/programmer.png')
                h6.font-weight-bold.pt-3.h6-increase 60% обучения выполнение практических заданий
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-1.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/give-money.png')
                h6.font-weight-bold.pt-3.h6-increase Есть пробные занятия, не понравится - вернем деньги
            .col-lg-4.offset-md-hor-0.col-md-hor-4.col-md-5.offset-md-0.offset-lg-0.mt-5
                img.advanttages-image(src=url + '/images/advantages/diploma-and-graduate-cap.png')
                h6.font-weight-bold.pt-3.h6-increase Лучшим выпускникам выдаем сертификат после обучения
