-
    var url = require('./../../variables-for-templates').url
// 13th section
#Prices
    .lg-show
        .container-fluid.mt-5.px-xl-4.px-lg-2
            .p-2.m-md-3.mt-5.text-center.px-xl-1.px-lg-1
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Стоимость обучения
                .col-lg-11.col-md-8.px-0.col-sm-10.mx-auto.row.text-center.mb-4
                    .col-lg-12.border.border-dark.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3
                            h5.font-weight-bold Что входит
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3
                            h5.font-weight-bold.text-center STANDART
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3
                            h5.font-weight-bold.text-center VIP
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 1
                            h5.pl-3.mt-2 Поддержка в Skype во время обучения
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 2
                            h5.pl-3.mt-2 Дополнительные видео материалы
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 3
                            h5.pl-3.mt-2 Дополнительные дни работы над д/з
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 4
                            h5.pl-3.mt-2 Индивидуальная консультация преподавателя в Skype
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/minus.svg', alt='')
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 5
                            h5.pl-3.mt-2 Возможность заморозить обучение
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                h4.mb-0 3
                            h4.position-absolute.freeze-time
                                span.pl-5 мес
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                h4.mb-0 1
                            h4.position-absolute.freeze-time
                                span.pl-5 год
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 6
                            h5.pl-3.mt-2 Возможность пройти курс повторно
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/minus.svg', alt='')
                        .col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-lg-11.px-0.col-md-8.col-sm-10.mx-auto.row.text-center
                    .col-lg-12.row.px-1.mx-0
                        .col-xl-8.col-lg-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-start.align-items-center
                            h3.pl-3.mt-2.font-weight-bold.text-uppercase Стоимость:
                        .px-0.col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-column.justify-content-center.align-items-center
                            h5.px-0.mt-2.font-weight-bold.text-uppercase 1750 грн
                            div
                                a.px-2.btn.btn-outline-light.border.border-dark.rounded-0.text-uppercase.subscription-button Записаться
                        .px-0.col-xl-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-column.justify-content-center.align-items-center
                            h5.px-0.mt-2.font-weight-bold.text-uppercase 2500 грн
                            div
                                a.px-2.btn.btn-outline-light.border.border-dark.rounded-0.text-uppercase.subscription-button Записаться
    .md-show
        .container-fluid.mt-5.px-0
            .p-y-2.mb-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Стоимость обучения
                .px-0.col-sm-7.col-6.text-left.mb-sm-5.mt-5.p-sm-1.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Пакет STANDARD
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 1
                            h5.pl-3.mt-2.ml-2 Поддержка в Skype во время обучения
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 2
                            h5.pl-3.mt-2.ml-2 Дополнительные видео материалы
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 3
                            h5.pl-3.mt-2.ml-2 Дополнительные дни работы над д/з
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 4
                            h5.pl-3.mt-2.ml-2 Индивидуальная консультация преподавателя в Skype
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/minus.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 5
                            h5.pl-3.mt-2.ml-2 Возможность заморозить обучение
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                h4.mb-0 3
                        .col-sm-1.col-1.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            h4.mb-0
                                span.pl-2.pt-3.mb-0 мес
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 6
                            h5.pl-3.mt-2.ml-2 Возможность пройти курс повторно
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/minus.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1.mx-0
                        .col-sm-5.col-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-start.align-items-center
                            h5.mt-2.font-weight-bold.text-uppercase Стоимость:
                        .col-sm-4.col-4.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-start.align-items-center
                            h4.px-0.mt-2.text-left.font-weight-bold 1750 грн.
                        .col-sm-2.col-2.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-center.align-items-center
                            a.px-1.btn.btn-outline-light.border.border-dark.rounded-0.text-uppercase.subscription-button
                                | Записаться
                .px-0.col-sm-7.col-6.text-left.mb-sm-5.mt-5.p-sm-1.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Пакет VIP
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 1
                            h5.pl-3.mt-2.ml-2 Поддержка в Skype во время обучения
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 2
                            h5.pl-3.mt-2.ml-2 Дополнительные видео материалы
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 3
                            h5.pl-3.mt-2.ml-2 Дополнительные дни работы над д/з
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 4
                            h5.pl-3.mt-2.ml-2 Индивидуальная консультация преподавателя в Skype
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 5
                            h5.pl-3.mt-2.ml-2 Возможность заморозить обучение
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                h4.mb-0 1
                        .col-sm-1.col-1.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            h4.mb-0
                                span.pl-2.pt-3.mb-0 год
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1
                        .col-sm-9.col-10.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-start.align-items-center
                            .package-info.border.border-dark 6
                            h5.pl-3.mt-2.ml-2 Возможность пройти курс повторно
                        .col-sm-2.col-2.col-lg-3.text-left.pb-lg-2.pt-lg-3.d-inline-flex.justify-content-center.align-items-center
                            .package-info.border.border-dark.p-2
                                img(src=url + '/svg/checked.svg', alt='')
                .col-md-12.px-4.mx-auto.row.text-center.mb-4
                    .col-md-12.ml-1.row.px-1.mx-0
                        .col-sm-5.col-6.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-start.align-items-center
                            h5.mt-2.font-weight-bold.text-uppercase Стоимость:
                        .col-sm-4.col-4.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-start.align-items-center
                            h4.px-0.mt-2.text-left.font-weight-bold 2500 грн.
                        .col-sm-2.col-2.text-left.pb-lg-2.pt-lg-3.d-inline-flex.flex-row.justify-content-center.align-items-center
                            a.px-1.btn.btn-outline-light.border.border-dark.rounded-0.text-uppercase.subscription-button
                                | Записаться